#output .item {  
 /* border-top: 1px solid white;
  border-bottom: 1px solid #AEAEAE;
  background: #EDEDED;
  background-color:#EDEDED; 
  padding: 4px 6px 5px 42px;
  position: relative;
  overflow:auto;*/
    display:block;
	border-width: 1px;
	border-style: solid;
	border-color: fff;
	padding:2px;
	margin-top:3px;
	width:400px;
	height:50px;
	background-color:3f3f3f;
}

.parent {
 border: 1px solid #666;
 overflow:scroll;
 width:410px;
 overflow-y: scroll;

 height:550px;
}t:550px;
}